<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><strong><%= t('activerecord.attributes.user.email') %></strong> : <%= @email %></p>
  </body>
</html>