<section id="educpop-liste">
  <section class="content-bloc">
      <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="educpop-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @revues } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @dates } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @lectures } %>
  </section>
</section>