<section id="arguments-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_2_on_3', :locals => { :articles => @articles } %>
  </section>
</section>
<section id="arguments-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @programmes } %>
  </section>
  <section class="content-bloc highlighted-bloc">
    <%= render :partial => 'layouts/articles_simplified', :locals => { :articles => @legislatives } %>
  </section>
</section>