<section id="videos-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_2_on_3', 
					:locals => { :articles => @articles, :category => 'video' } %>
  </section>
</section>
<section id="videos-vignettes">
  <%= render :partial => 'tele_de_gauche' %>
</section>