<section id="videos-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_2_on_3', 
               :locals => { :articles => @articles, :category => 'video' } %>
  </section>
</section>
<section id="videos-vignettes">
  <% unless @headings.empty? %>
    <section class="content-bloc">
      <%= render :partial => 'layouts/table_of_content', 
            :locals => { :headings => @headings, :category => 'video' } %>
    </section>
  <% end %>
</section>