<section id="videos-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="videos-vignettes">
  <%= render :partial => 'tele_de_gauche' %>
</section>