<section id="militer-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_2_on_3', :locals => { :articles => @articles } %>
  </section>
</section>
<section id="militer-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @tracts, :title => :hide } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @kits, :title => :hide } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_agenda', :locals => { :articles => @evenements } %>
  </section>
</section>