<section id="militer-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article', :locals => { :article => @article } %>
  </section>
</section>
<section id="militer-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', :locals => { :articles => @tracts, :category => "tract", :title => :hide } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', :locals => { :articles => @affiches, :category => "affiche", :title => :hide } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_agenda', :locals => { :articles => @evenements, :category => "evenement" } %>
  </section>
</section>