<section id="vudailleurs-liste">
  <section id="vudailleurs-articlevdg-content" class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_2_on_3', :locals => { :articles => @articles } %>
  </section>
</section>
<section id="vudailleurs-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/table_of_content', :locals => { :headings => @headings, :articles => @articles } %>
  </section>
  <section id="vudailleurs-vdg-content" class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @journauxvdg } %>
  </section>
</section>