<section id="vudailleurs-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_2_on_3', 
          :locals => { :articles => @articles, :category => 'vdg' } %>
  </section>
</section>
<section id="vudailleurs-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3', 
          :locals => { :articles => @articlesvdg, :category => 'articlevdg' } %>
  </section>
  <% unless @headings.empty? %>
    <section class="content-bloc">
      <%= render :partial => 'layouts/table_of_content', 
            :locals => { :headings => @headings, :category => 'articlevdg' } %>
    </section>
  <% end %>
</section>