<section id="legal-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="sources-vignettes">
  <%= render :partial => 'sources' %>
</section>