<hgroup>
  <h3 class="main-title">
  <% if Article::category_option?('blog', :link_all_title) %>
    <%= link_to Article::category_option('blog', :category_title), 
                { :controller => Article::category_option('blog', :controller), 
                :action => Article::category_option('blog', :action_all) },
                :title => Article::category_option('blog', :link_all_title) %>
  <% else %>
    <%= Article::category_option('blog', :category_title) %>
  <% end %>
  </h3>&nbsp;&bull;
</hgroup>
