<section id="vudailleurs-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_2_on_3', :locals => { :articles => @articles } %>
  </section>
</section>
<section id="vudailleurs-vignettes">
  <section class="content-bloc bloc-bottom-margin">
    <%= render :partial => 'envoyer_message' %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @articlesblog } %>
  </section>
</section>