<section id="vudailleurs-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article', :locals => { :article => @article } %>
  </section>
</section>
<section id="vudailleurs-vignettes">
	<%= render :partial => 'layouts/source' %>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3', 
          :locals => { :articles => @articlesweb, :category => 'web' } %>
  </section>
</section>