<section id="vudailleurs-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="vudailleurs-vignettes">
  <%= render :partial => 'layouts/source' %>
  <section id="vudailleurs-blogs-content" class="content-bloc">
    <%= render :partial => 'blogs' %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @articlesweb } %>
  </section>
</section>