<section id="vudailleurs-liste">
  <section id="vudailleurs-web-content" class="content-bloc">
    <%= render :partial => 'layouts/index_articles_3cols_2_on_3', 
          :locals => { :articles => @articlesweb, :category => 'web' } %>
  </section>
</section>
<section id="vudailleurs-vignettes">
  <section id="vudailleurs-directblog-content" class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3', 
          :locals => { :articles => @articlesblog, :category => 'directblog' } %>
  </section>
</section>