$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;
$default-border-radius: 4px;

$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$blueprint-font-family: "Trebuchet MS", sans-serif;
$blueprint-font-size: 14px;

$pg-lightgreen: #e8f0e3; // background color
$pg-green: #81bf40;
$pg-white: white;
$pg-red: #B50000;
$pg-padding: 8px;
$pg-transition-duration: 0.3s;
$picture-height:230px;

$color-menu-fg-normal: $pg-white;
$color-menu-bg-normal: transparent;
$color-menu-fg-hover: $pg-white;
$color-menu-bg-hover: $pg-green;
$color-menu-fg-active: $pg-green;
$color-menu-bg-active: transparent;
$color-menu-fg-visited: $pg-white;
$color-menu-bg-visited: $pg-green;
$color-menu-fg-focus: $pg-white;
$color-menu-bg-focus: $pg-green;