<section id="quisommesnous-liste">
  <section class="content-bloc">
     <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="quisommesnous-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @identites } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3', :locals => { :articles => @instances } %>
  </section>
</section>