<section id="quisommesnous-identite">
  <section id="quisommesnous-identite-content" class="content-bloc">
    <%= render :partial => 'layouts/articles_simplified', :locals => { :articles => @identites } %>
  </section>
</section>
<section id="quisommesnous-instance">
  <section id="quisommesnous-instances-content" class="content-bloc bloc-bottom-margin">
    <%= render :partial => 'layouts/articles_simplified', :locals => { :articles => @instances } %>
  </section>
  <section id="quisommesnous-commission-content" class="content-bloc highlighted-bloc">
    <%= render :partial => 'layouts/articles_simplified', :locals => { :articles => @commissions } %>
  </section>
</section>