/*
 *= require_self
 */
// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/inline-list";
@import "compass/typography/links/link-colors";
@import "compass/typography/links/hover-link";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@mixin pg-shadow { @include single-box-shadow(silver, 2px, 2px, 2px); }

@mixin pg-text-shadow {	@include single-text-shadow(silver, 2px, 2px, 2px); }

@mixin pg-transition {
  @include transition-property(all);
  @include transition-duration($pg-transition-duration);
  @include transition-timing-function(ease-in);	
}

@mixin undecored-link {
  text-decoration:none;
  &:hover { text-decoration:none; } 
}

.shadow { @include pg-shadow; }

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@include blueprint;

body {
  background:{
    color:$pg-lightgreen;
    image:url('BackPgTop.png');
    position:center top;
    repeat:no-repeat;
  }
}

.content-bloc {
  overflow:hidden;
  background-color:white;
  line-height:130%;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:$pg-padding;
  padding-right:$pg-padding;
  margin-top:$pg-padding;
  margin-right:2px;
  margin-bottom:$pg-padding/2;
  @include pg-shadow;
  @include border-radius;
  h1 {
    font-size:110%;
    font-weight:bolder;
    color:$pg-red;
    display:inline;
  }
  h2, h3, h4 {
    font-size:100%;
    display:inline;
    font-weight:bolder;
  }
  .category {
    font-size:90%;
    color:red;
    font-family:"Arial Black",sans-serif;
  }
  .large-title {
    font-size:180%;
    @include pg-text-shadow;
  }
  .main-title {
    font-size:100%;
    color:$pg-green;
    a {
      @include link-colors($pg-green);
      @include hover-link;
    }
  }
  .zoom-title {
    background-color:$pg-lightgreen;
    position:relative;
    top:-85px;
    left:10px;
    padding:2px;
    width:240px;
    opacity:0.8;
    filter:alpha(opacity=80);
    a {
      color:$pg-red;
    }
    h4 {
      color:#222;
    }
  }
  .mandatory {
    display:inline;
    color:$pg-red;
  }
  .signature {
    color:black;
    font-size:90%;
    font-style:italic;
  }
  .information {
    color:gray;
    font-size:90%;
    display:inline;
  }
  .tag {
    font-size:85%;
    line-height:22px;
    margin:0;
    a {
      color:$pg-red;
      border:1px solid $pg-lightgreen;
      padding-left:2px;
      padding-right:2px;
      &:hover {
        background-color:$pg-red;
        text-decoration:none;
        color:white;
      }
    }
  }
   .add-link {
    font-weight:bolder;
    cursor:pointer;
    background-color:$pg-green; 
    color:white;
   }
  .actions {
    display:inline;
    input {
      background-color:$pg-green; 
      border:1px solid silver;
      margin:0;
      color:white;
      vertical-align:middle;
      @include pg-transition;
      &:hover { 
        background-color:black; 
      }
    }
    input[type=text], input[type=email] {
      background-color:white; 
      color:black;
      height:10px;
      margin:0;
      vertical-align:middle;
      width:auto;
      border-spacing:0px;
      @include pg-transition;
    }
    input[type=search] {
      height:20px;
      background-color:white;
      color:black;
      margin:0;
      padding:0;
      &:hover {
      }
    }
    select {
      margin:0;
      vertical-align:middle;
    }
  }
  .large-actions {
    display:inline;
    input {
      background-color:$pg-green; 
      border:1px solid #dcdcdc;
      margin:0;
      color:white;
      vertical-align:middle;
      font-size:140%;
      @include pg-transition;
      &:hover { 
        background-color:black; 
      }
    }
  }
  .article {
    .date {
      display:inline;
      font-size:85%;
      background-color:$pg-green;
      color:white;
      @include pg-shadow;
      padding-left:2px;
      padding-right:2px;
    }
    .date-title {
      display:inline;
      font-size:85%;
    }
    ul {
      list-style:disc;
      margin-bottom:$pg-padding;
      padding-left:$pg-padding*4;
    }
    ol {
      list-style:decimal;
      margin-bottom:$pg-padding;
      padding-left:$pg-padding*4;
    }
    .edit {
      line-height:20px;
      label {
        margin-right:4px;
        @include pg-text-shadow;
      }
      input[type=text], input[type=email] {
        height:10px;
        margin:0;
        vertical-align:middle;
        padding:0;
        width:auto;
        height:18px;
        border-spacing:0px;
        @include pg-transition;
      }
      select {
        margin:0;
        vertical-align:middle;
      }
      textarea {
        width:98%; 
        padding:0;
        height:auto;
      }
    }
    .photos {
      text-align:center;
      img {
        vertical-align:middle;
        margin-bottom:4px;
      }
      .previous, .next {
        cursor:pointer;
      }
    }
    .one-fourth-column {
      img {
        width:212px;
      }
    }
    .one-third-column {
      img {
        width:292px;
      }
    }
  }
  .article-separator {
    border-top:1px dotted $pg-green;
    margin-top:$pg-padding;
    margin-bottom:$pg-padding;
  }
  .form {
    line-height:18px;
    table {
      margin:0;
      td {
        padding-top:1px;
        padding-bottom:1px;
      }
    }
    label {
      vertical-align:middle;
      margin-right:4px;
      opacity:0.9;
      @include pg-text-shadow;
    }
    input[type=text], input[type=email] {
      height:20px;
      margin:0;
      padding:0;
      vertical-align:middle;
      width:250px;
      border-spacing:0px;
      @include pg-transition;
    }
    textarea {
      font-family:sans-serif;
      vertical-align:middle;
      margin:0;
      padding:0;
      width:250px;
      height:100px;
    }
  }
  .form-small {
    line-height:18px;
    table {
      margin:0;
      td {
        padding-top:1px;
        padding-bottom:1px;
      }
    }
    label {
      vertical-align:middle;
      margin-right:4px;
      @include pg-text-shadow;
    }
    input[type=text], input[type=email] {
      height:20px;
      margin:0;
      padding:0;
      vertical-align:middle;
      width:150px;
      border-spacing:0px;
      @include pg-transition;
    }
    textarea {
      font-family:sans-serif;
      vertical-align:middle;
      margin:0;
      padding:0;
      width:150px;
      height:100px;
    }
  }
  .form-medium {
    line-height:18px;
    background:$pg-lightgreen;
    padding:12px;
    margin-bottom:4px;
    @include pg-shadow;
    @include border-radius;
    table {
      margin:0;
      td {
        min-width:140px;
        padding-top:1px;
        padding-bottom:1px;
      }
    }
    label {
      vertical-align:middle;
      margin-right:4px;
      opacity:0.9;
      @include pg-text-shadow;
    }
    input[type=text], input[type=email] {
      height:20px;
      margin:0;
      padding:0;
      vertical-align:middle;
      width:250px;        
      border-spacing:0px;
      @include pg-transition;
    }
    .larger {
      input[type=text], input[type=email] {
        height:18px;
        margin:0;
        padding:0;
        vertical-align:middle;
        width:600px;        
        border-spacing:0px;
        @include pg-transition;
      }
    }
    textarea {
      font-family:sans-serif;
      vertical-align:middle;
      margin:0;
      padding:0;
      width:600px;
      height:50px;
    }
    select {
      margin:0;
    }
  }
  .pages {
    padding:4px;
    font-size:95%;
    font-weight:bold;
    color:$pg-red;
    background-color:$pg-green;
    text-align:center;
    a {
      @include link-colors($color-menu-fg-normal, $color-menu-fg-hover);
      @include undecored-link;
      @include border-radius;
      background-color:$color-menu-bg-normal;
      padding:$pg-padding / 4;
      @include pg-transition;
      &:hover {
        background-color:$pg-red; 
      } 
    }
  }
  p {
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:$pg-padding;
    text-align:justify;
    font-size:90%;
    line-height:140%;
  }
  ul, ol {
    list-style:none;
    margin:0;
    padding-left:0;
  }
  a {
    @include link-colors($pg-red);
    @include hover-link;
  }
  img {
    @include border-radius;
  }
  table {
    td {
      vertical-align:top;
      padding:0;
    }
    .article-inter-column {
      width:12px;
    }
    .article-mini-column {
      width:60px;
    }
    .article-one-third-column {
      width:196px;
      img {
        width:196px;
      }
    }
  }
  .rss {
    float:right;
  }
  .panel-search-item {
    text-align:center;
    &:hover { 
      background-color:$pg-green;
    }
  }
  .zoom-article-panel-search {
    position:absolute;
    left:33%;
    z-index:10;
    background-color:white;
    padding:10px;
    border:1px solid #dcdcdc;
    font-size:90%;
    @include pg-shadow;
  }
  .bold {
    font-weight:bolder;
    color:$pg-red;
  }
}

.highlighted-bloc {
  color:white;
  @include background-image(radial-gradient(50% 50%, adjust-lightness($pg-red, 5%) 10%, $pg-red));
  background-color:$pg-red;
  .category {
    color:white;
  }
  h2, h3, h4 {
    color:white;
  }
  a {
    @include link-colors(white);
    @include hover-link;
  }
}

.bloc-bottom-margin {
  margin-bottom:$pg-padding+$pg-padding/2;
}

#container {
  @include container;
}

#notice {
  @include column($blueprint-grid-columns);
  @include pg-shadow;
  @include border-radius;
  margin-top:$pg-padding;
  background-color:black;
  text-align:center;
  color:$pg-green;
  font-family:"Arial Black",sans-serif;
  font-size:120%;
  font-weight:bold;
}

#error_explanation {
  text-align:left;
  background-color:$pg-lightgreen;
  color:red;
  h2 {
    font-weight:bold;
    font-size:100%;
    color:black;
  }
  ul {
    margin-bottom:$pg-padding;
  }
}

.field_with_errors {
  color:red;
  display:inline;
  border-spacing:0px;
  input {
    color:black;
    border-color:red;
  }
  select {
    color:black;
    border-color:red;
  }
  textarea {
    color:black;
    border-color:red;
  }
}

.status {
  color:black;
  background-color:$pg-lightgreen;
  font-weight:bold;
  text-align:right;
  margin-bottom:$pg-padding;
}

.online {
  color:$pg-green;
  background-color:$pg-red;
  font-weight:bold;
  text-align:right;
  margin-bottom:$pg-padding;
}

.sharing {
  margin-top:$pg-padding;
  margin-bottom:$pg-padding;
  text-align:center;
  img {
    vertical-align:middle;
    display:inline;
    margin-bottom:2px;
  }
}

@mixin three-columns-1quarter-1half-1quarter($id-col1, $id-col2, $id-col3, $columns-number:$blueprint-grid-columns) {
  $col1:floor($columns-number / 4);
  $col3:$col1;
  $col2:$columns-number - $col1 - $col3;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2);
    @include clearfix;
  }
  #{$id-col3} {
    @include column($col3, true);
    @include clearfix;
  }
}

@mixin three-columns($id-col1, $id-col2, $id-col3, $columns-number:$blueprint-grid-columns) {
  $col1:floor($columns-number / 3);
  $col2:floor(($columns-number - $col1) / 2);
  $col3:$columns-number - $col1 - $col2;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2);
    @include clearfix;
  }
  #{$id-col3} {
    @include column($col3, true);
    @include clearfix;
  }
}

@mixin two-columns-quarter($id-col1, $id-col2, $columns-number:$blueprint-grid-columns) {
  $col1:floor($columns-number / 4);
  $col2:$columns-number - $col1;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2, true);
    @include clearfix;
  }
}

@mixin two-columns-half($id-col1, $id-col2, $columns-number:$blueprint-grid-columns) {
  $col1:floor($columns-number / 2);
  $col2:$columns-number - $col1;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2, true);
    @include clearfix;
  }
}

@mixin two-columns-1third-2third($id-col1, $id-col2, $columns-number:$blueprint-grid-columns) {
  $col1:floor($columns-number / 3);
  $col2:$columns-number - $col1;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2, true);
    @include clearfix;
  }
}

@mixin two-columns-2third-1third($id-col1, $id-col2, $columns-number:$blueprint-grid-columns) {
  $col2:floor($columns-number / 3);
  $col1:$columns-number - $col2;
  #{$id-col1} {
    @include column($col1);
    @include clearfix;
  }
  #{$id-col2} {
    @include column($col2, true);
    @include clearfix;
  }
}

#banner, #identity, #tools, #mainmenu, #payment, #welcome, #mentions-legales, #administration-work, #photos-liste {
  @include column($blueprint-grid-columns);
}

#tools {
  margin-top:10px;
  height:20px;
  form {
    float:left;
    input {
      background-color:white; 
      border:1px solid #dcdcdc;
      margin:0;
      padding:0;
      font-size:8pt;
      color:black;
      vertical-align:middle;
      @include pg-transition;
    }
    input[type=submit] {
      background-color:$pg-green; 
      border:1px solid #dcdcdc;
      margin:0;
      font-size:8pt;
      color:white;
      vertical-align:middle;
      @include pg-transition;
      &:hover { 
        background-color:black; 
      }
    }
    input[type=search] {
      background-color:white;
      border:1px solid silver;
      color:black;
      margin:0;
      padding:0;
      &:hover {
      }
    }
    #search {
      width:200px;
      height:17px;
    }
  }
  #usermenu {
    float:right;
    font-weight:bold;
    color:$color-menu-bg-hover;
    a {
      @include link-colors($color-menu-fg-normal, $color-menu-fg-hover);
      @include undecored-link;
      @include border-radius;
      background-color:$color-menu-bg-normal;
      padding:$pg-padding / 2;
      @include pg-transition;
      &:hover {
        background-color:$color-menu-bg-hover; 
      } 
    }
    img {
      vertical-align:middle;
      display:inline;
      margin-bottom:2px;
    }
  }
}

#partidegauche {
  @include float-left;
  width:span(18);
  margin-right:$blueprint-grid-margin;
  padding-top:$pg-padding;
  padding-bottom:$pg-padding - 4px;
  text-align:left;
  .adhesion {
    margin-left:6*$pg-padding;
  }
  .don {
    margin-left:4*$pg-padding;
  }
}

#frontdegauche {
  @include float-left;
  padding-right:2px;
  width:span(6) - 2px;
  margin-right:0;
  padding-top:$pg-padding;
  padding-bottom:$pg-padding - 4px;
  text-align:right;
}

#mainmenu {
  font-weight:bold;
  margin-top:$pg-padding;
  margin-bottom:$pg-padding;
  text-align:center;
  color:$color-menu-bg-hover;
  a {
    @include link-colors($color-menu-fg-normal, $color-menu-fg-hover);
    @include undecored-link;
    @include border-radius;
    background-color:$color-menu-bg-normal;
    padding:$pg-padding / 2;
    margin:$pg-padding;
    @include pg-transition;
    &:hover {
      background-color:$color-menu-bg-hover; 
    } 
  }
  .current {
    color:$color-menu-fg-active; 
    padding:$pg-padding / 2;
    margin:$pg-padding;
  } 
}

$top-height:480px;
$zoom-height:225px;

@include three-columns-1quarter-1half-1quarter("#editos", "#recent", "#actualites");

#editos-content, #actualites-content {
  height:$top-height;
  .inner-list {
    height:$top-height - 10;
    overflow:hidden;
  }
}

#recent {
  .zoom {
    height:$zoom-height;
  }
}

.zoom {
  padding:0;
  section {
    background-color:$pg-lightgreen;
    position:relative;
    top:-246px;
    left:4px;
    padding:2px;
    width:360px;
    opacity:0.85;
    filter:alpha(opacity=85);
  }
  img {
    height:225px;
    width:468px;
  }
  .inner-zoom {
    padding-top:$pg-padding;
    padding-bottom:$pg-padding;
    padding-left:$pg-padding;
    padding-right:$pg-padding;
    height:209px;
    font-style:italic;
  }
  #zoom-navigator {
    position:relative;
    top:-30px;
    left:380px;
    padding:2px;
    width:80px;
    cursor:pointer;
  }
}

#communique {
  @include column(6);
  @include clearfix;
}

#inter {
  @include column(6, true);
  @include clearfix;
}

#communique-content, #inter-content {
  height:$top-height - $zoom-height - 12px;
  .inner-list {
    height:$top-height - $zoom-height - 22px;
    overflow:hidden;
  }
}

@include two-columns-2third-1third("#campagne", "#videos");
#campagne-content, #videos-content {
  height:240px;
  .inner-list {
    height:230px;
    overflow:hidden;
  }
}

@include three-columns("#vdg-photos", "#arguments-blogs", "#agenda");

#ailleurs-content, #blogs-content, #vdg-content, #arguments-content, #diapos-content, #librairie-content, #tracts-content {
  height:240px;
  .inner-list {
    height:230px;
    overflow:hidden;
  }
}

#agenda-content {
  height:495px;
  .inner-list {
    height:485px;
    overflow:hidden;
  }
}

#footer {
  @include column($blueprint-grid-columns);
}

#connect {
  @include column(5);
  @include clearfix;
  table {
    text-align:center;
    margin-top:$pg-padding;
    margin-bottom:$pg-padding;
    width:auto;
    td {
      padding-left:$pg-padding/2;
      padding-right:$pg-padding/2;
      padding-top:0;
      padding-bottom:0;
      vertical-align:middle;
    }
  }
}

#network {
  @include column(7);
  @include clearfix;
  table {
    text-align:center;
    margin-top:$pg-padding;
    width:auto;
    td {
      padding-left:$pg-padding/2;
      padding-right:$pg-padding/2;
      padding-top:0;
      padding-bottom:0;
      vertical-align:middle;
    }
  }
}

#agauche {
  @include column(6);
  @include clearfix;
  p {
    margin-top:2*$pg-padding;
    text-align:center;
  }
}

#gavroche {
  @include column(6, true);
  @include clearfix;
  table {
    text-align:center;
    margin-top:$pg-padding;
    margin-bottom:$pg-padding;
    width:auto;
    td {
      padding-left:$pg-padding/2;
      padding-right:$pg-padding/2;
      padding-top:0;
      padding-bottom:0;
      vertical-align:middle;
    }
  }
}

#connect-content, #network-content, #agauche-content, #gavroche-content {
  height:140px;
}

#legal {
  @include column($blueprint-grid-columns);
  margin-top:$pg-padding/2;
  text-align:center;
  a {
    color:$pg-red;
    text-decoration:none;
    &:hover {
      text-decoration:underline; 
    } 
  }
}

@include two-columns-2third-1third("#search-list", "#search-vignettes");
@include two-columns-1third-2third("#editor-toolbox", "#articles-box");
@include two-columns-1third-2third("#actualites-editos", "#actualites-actus");
@include two-columns-2third-1third("#actualites-liste", "#actualites-vignettes");
@include two-columns-half("#arguments-programme", "#arguments-arguments");
@include two-columns-2third-1third("#arguments-liste", "#arguments-vignettes");
@include two-columns-1third-2third("#arguments-toc", "#arguments-liste2");
@include two-columns-2third-1third("#militer-liste", "#militer-vignettes");
@include two-columns-2third-1third("#militer-campagne", "#militer-agenda");
@include three-columns("#militer-tracts", "#militer-affiches", "#militer-kits");

#agit-prop {
  @include float-left;
}

#militer-affiches {
  margin-right:0;
}

#militer-campagne-content, #militer-agenda-content {
  height:240px;
  .inner-list {
    height:230px;
    overflow:hidden;
  }
}

#militer-kits-content, #militer-affiches-content, #militer-tracts-content {
  height:240px;
}

@include three-columns-1quarter-1half-1quarter("#lateledegauche-presentation", "#lateledegauche-zoom", "#lateledegauche-medias");

$lateledegauche-zoom-height:220px;
#lateledegauche-presentation-content {
  height:$lateledegauche-zoom-height;
  table {
    margin-top:$pg-padding;
    width:auto;
    td {
      padding-left:$pg-padding/2;
      padding-right:$pg-padding/2;
      padding-top:$pg-padding/2;
      padding-bottom:$pg-padding/2;
      vertical-align:middle;
    }
  }
}
#lateledegauche-zoom {
  .zoom {
    height:$lateledegauche-zoom-height + $pg-padding/2;
  }
}
#lateledegauche-media-content {
  height:$lateledegauche-zoom-height;
  .inner-list {
    height:$lateledegauche-zoom-height - 10px;
    overflow:hidden;
  }
}

@include three-columns("#lateledegauche-conferences", "#lateledegauche-agitprop", "#lateledegauche-videoseduc");
@include two-columns-1third-2third("#quisommesnous-identite", "#quisommesnous-instance");
@include two-columns-2third-1third("#quisommesnous-liste", "#quisommesnous-vignettes");
@include two-columns-half("#contact-message", "#contact-comites");
@include two-columns-2third-1third("#contact-liste", "#contact-vignettes");
@include two-columns-2third-1third("#vudailleurs-liste", "#vudailleurs-vignettes");
@include two-columns-half("#educpop-dates", "#educpop-revues");
@include two-columns-2third-1third("#educpop-liste", "#educpop-vignettes");
@include two-columns-2third-1third("#videos-liste", "#videos-vignettes");

#lateledegauche-conference-content, #lateledegauche-videoagitprop-content, #lateledegauche-videoevenement-content, #lateledegauche-videoweb-content, #lateledegauche-videoeduc-content, #lateledegauche-encampagne-content {
  height:240px;
}

table {
  thead {
    th {
      background-color:$pg-red;
    }
  }
}