<section>
  <section class="content-bloc">
    <% unless @presentation.nil? %>
      <%= render :partial => 'layouts/article_simplified',  :locals => { :article => @presentation } %>
    <% end %>                        
  </section>
</section>