<% cache_if can_cache?, @url do %>
  <section id="mentions-legales">
    <section id="mentions-legales-content" class="content-bloc">
      <% unless @legal.nil? %>
        <%= render :partial => 'layouts/article_simplified', :locals => { :article => @legal } %>
      <% end %>
      (ruby <%= RUBY_VERSION %>, rails <%= Rails.version %>)
    </section>
  </section>
<% end %>