<% unless articles.nil? %>
  <hgroup>
    <h3 class="category">
      <%= Article::category_option(category, :category_title) %>&nbsp;&bull;
    </h3>
    <% if Article::category_option?(category, :link_all_title) %>
      <h2 class="main-title">
        <%= link_to Article::category_option(category, :link_all_title), 
                    :controller => Article::category_option(category, :controller), 
                    :action => Article::category_option(category, :action_all) %>
      </h2>
    <% end %>
  </hgroup>
  <table>
    <% for article in articles %>
      <tr>
        <td class="article-mini-column">
          <article class="article">
            <div class="date"><%= l article.start_datetime, :format => :short %></div>&nbsp;
          </article>
        </td>
        <td>
          <article class="article">
            <div class="date-title">
              <% if article.content.present? and article.content.length > 0 %>
                <b>
              <% end %>
              <%= link_to article.title_display.html_safe,
                    :controller => Article::category_option(category, :controller),
                    :action => Article::category_option(category, :action),
                    :uri => article.uri %>
              <% if article.content.present? and article.content.length > 0 %>
                </b>
              <% end %>
            </div>
          </article>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>