<% first = true %>
<div id="mainmenu" class="inline-menu">
  <% MENU.each do |menu, options| %>
    <% unless not options.blank? and options[:hide] %>
      <% if first %>
        <% first = false %>
      <% else %>
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <% end %>
      <%= link_to_unless_current(menu, { :controller => options[:controller], 
                                         :action => options[:action] }) do |name| %>
        <span class="current"><%= name %></span>
      <% end %>
    <% end %> 
  <% end %>
</div>