<hgroup>
  <div class="information"><%=t 'general.toc_explain' %></div>
</hgroup>
<ol>
  <hr/>
  <% for heading in headings %>
    <li>
      <article class="article">
        <h4>
          <%= link_to heading.heading.html_safe,
                :controller => Article::category_option(category, :controller),
                :action => Article::category_option(category, :action_all),
                :heading => heading.heading %>
        </h4>
      </article>
    </li>
  <% end %>
  <hr/>
  <% if Article::category_option?(category, :link_all_title) %>
    <h2 class="main-title">
      <%= link_to Article::category_option(category, :link_all_title), 
                  :controller => Article::category_option(category, :controller), 
                  :action => Article::category_option(category, :action_all) %>
    </h2>
  <% end %>
</ol>