<% unless headings.nil? or headings.empty? or articles.nil? or articles.empty? %>
  <hgroup>
    <div class="information"><%=t 'general.toc_explain' %></div>
  </hgroup>
  <ol>
    <% for heading in headings %>
      <li>
        <article class="article">
          <h4>
            <%= link_to heading.heading.html_safe,
                  :controller => articles[0].category_option(:controller),
                  :action => articles[0].category_option(:action_all),
                  :heading => heading.heading %>
          </h4>
        </article>
      </li>
    <% end %>
    <div class="article-separator">
      <% if articles[0].category_option?(:link_all_title) %>
        <h2 class="main-title">
          <%= link_to articles[0].category_option(:link_all_title), 
                      :controller => articles[0].category_option(:controller), 
                      :action => articles[0].category_option(:action_all) %>
        </h2>
      <% end %>
    </article>
  </ol>
<% end %>