<section class="content-bloc">
  <article class="article">
    <hgroup>
      <h3 class="category"><%= t('general.error500') %>&nbsp;&bull;</h3>
    </hgroup>
    <header>
      <h4><%= request.url %></h4><br/>
      <h1 class="large-title"><%= t('general.system_error') %></h1>
    </header>
    <%= t('general.system_explain') %>
  </article>
</section>